* {
    box-sizing: border-box;
}

/* Screen Configuration ----------------------------------------------------- */

html {
    height: 100%;
}

body {
    padding: 8px;
    background-color: #2E5B34;
    color: #FFFFFF;
    font-family: sans-serif;
    height: calc(100% - 16px);
}

div#env {
    height: calc(85% - 13px);
    border: 2px solid #888;
}

canvas#painting-area {
    z-index: 8192;
    position: relative;
}

/* Paint Options ------------------------------------------------------------ */

div#bar {
    color: #FFF;
    height: 15%;
}

div#paint {
    display: inline;
    float: left;
    height:100%;
    width: 40%;
    text-align: center;
    vertical-align: middle;
}

div#paint button {
    border: 2px solid #800;
}

/* Text Input --------------------------------------------------------------- */

div#text {
    float: left;
    height: 100%;
    width: 60%;
}

div#text form {
    width: 100%;
    height: 100%;
}

textarea#input {
    float: left;
    width: 95%;
    height: 100%;
    background-color: #000;
    color: #888;
    border: 2px solid #888;
    font-family: monospace;
    font-weight: bold;
}

button#button {
    float: left;
    margin-top: 1px;
    width: 5%;
    height: 100%;
    border: 2px solid #888;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
}

button#button:hover {
    background-color: #888;
}

/* Footer ------------------------------------------------------------------- */

footer {
    padding: 2px;
    font-family: monospace;
    color: #F28AA7;
    font-weight: bold;
    text-align: center;
}

footer a {
    color: #F28AA7;
}

footer a:hover {
    color: #D06885;
}
